#include <zephyr/dt-bindings/led/led.h>

/ {
    aliases {
        i2c1 = &i2c1;
        vl53l1x = &vl53l1x;
		led-strip = &led_strip;
    };

};

&spi3 {
	/* Workaround to support WS2812 driver */
	line-idle-low;
	led_strip: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";

		/* SPI */
		reg = <0>; /* ignored, but necessary for SPI bindings */
		spi-max-frequency = <6400000>;

		/* WS2812 */
		chain-length = <1>; /* arbitrary; change at will */
		spi-cpha;
		spi-one-frame = <0xf0>; /* 11110000: 625 ns high and 625 ns low */
		spi-zero-frame = <0xc0>; /* 11000000: 312.5 ns high and 937.5 ns low */
		color-mapping = <LED_COLOR_ID_GREEN
				 LED_COLOR_ID_RED
				 LED_COLOR_ID_BLUE>;
	};
};

&pinctrl {
    i2c1_default: i2c1_default {
        group1 {
            pinmux = <I2C1_SCL_GPIO17>,
                    <I2C1_SDA_GPIO18>;
            bias-pull-up;
            drive-open-drain;
            output-high;
        };
    };
	spim3_default: spim3_default {
		group2 {
			pinmux = <SPIM3_MOSI_GPIO48>;
		};
	};
};

&i2c1 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;
    pinctrl-0 = <&i2c1_default>;
    vl53l1x: vl53l1x@29 {
        compatible = "st,vl53l1x";
        friendly-name = "top-view";
        label = "L1X-TOP";
        reg = <0x29>;
    };
};

